<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>jakartaee-10.0</feature>
        <!-- Para JSON-B (mapeo objetos Java <-> JSON) -->
        <feature>jsonb-3.0</feature>
        <feature>microProfile-7.1</feature>
    </featureManager>


    <library id="postgresLib">
        <!-- Apunta a /usr/.../servers/prn335_2025/drivers/postgresql -->
        <fileset dir="${server.config.dir}/resources/jdbc" includes="postgresql-*.jar"/>

    </library>

    <jdbcDriver id="postgres-drivers" libraryRef="postgresLib"/>

    <!-- Driver JDBC que usa la librería -->


    <!-- DataSource JNDI: jdbc/pgdb -->
    <dataSource id="InventarioDataSource"
                jndiName="jdbc/pgdb"
                jdbcDriverRef="postgres-drivers"
                type="javax.sql.DataSource"
                transactional="true">
        <properties.postgresql
                serverName="localhost"
                portNumber="5432"
                databaseName="parcial1_prn335"
                user="postgres"
                password="fran123"/>
    </dataSource>

</server>
