<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>jdbc-4.3</feature>
        <feature>websocket-2.1</feature>
        <feature>messaging-3.1</feature>
        <feature>messagingClient-3.0</feature>
        <feature>messagingSecurity-3.0</feature>
    </featureManager>

    <keyStore id="defaultKeyStore" password="Liberty" />
    <basicRegistry id="basic" realm="BasicRealm" />

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" />
    <applicationManager autoExpand="true"/>

    <ssl id="defaultSSLConfig"
         keyStoreRef="defaultKeyStore"
         trustDefaultCerts="true" />

    <messagingEngine>
        <queue id="QUEUE1"/>
    </messagingEngine>



    <library id="postgresLib">
        <!-- Apunta a /usr/.../servers/prn335_2025/drivers/postgresql -->
        <fileset dir="${server.config.dir}/resources/jdbc" includes="postgresql-*.jar"/>

    </library>

    <jdbcDriver id="postgres-drivers" libraryRef="postgresLib"/>

    <!-- DataSource JNDI: jdbc/pgdb -->
    <dataSource id="InventarioDataSource"
                jndiName="jdbc/pgdb"
                jdbcDriverRef="postgres-drivers"
                type="javax.sql.DataSource"
                transactional="true">
        <properties.postgresql
                serverName="localhost"
                portNumber="5432"
                databaseName="inventarioprn335"
                user="postgres"
                password="abc123"/>
    </dataSource>

    <jmsQueueConnectionFactory jndiName="jms/JmsFactory">
        <properties.wasJms remoteServerAddress="localhost:7276:BootStrapBasicMessaging"/>
    </jmsQueueConnectionFactory>

    <jmsQueue id="simpleQueue" jndiName="jms/JmsQueue">
        <properties.wasJms queueName="QUEUE1"/>
    </jmsQueue>

    <jmsActivationSpec id="InventarioWebAppPRN335-1.0-SNAPSHOT/ReceptorKardex">
        <properties.wasJms maxConcurrency="200"/>
    </jmsActivationSpec>

</server>